#tableau {
    /*border-width: initial; signifie
    revenir a la bordure initiale*/
    border-color: rgba(69, 76, 72, 0.863);
    margin: 10px;
}

h1 {
    border: 2px solid #ce5e03;
    width: 50%;
    margin: auto;
    padding: 2px;
    /*taille qui serre le volume du tableau*/
    color: white;
}

tr:first-child {
    height: 200px;
    text-align: center;
    background-color: rgb(161, 224, 13);
}

tr:nth-child(2) {
    background-color: rgb(161, 224, 13);
    height: 100px;
    color: white;
}

tr:nth-child(2) td:last-child {
    text-align: right;
}

#s1 {
    margin-left: 20px;
}

#s2 {
    margin-left: 20px;
}

#profile {
    color: white;
    background-color: rgb(161, 224, 13);
    margin-top: 16px;
    padding: 10px;
    padding-left: 33px;
}

tr:nth-child(3) td:first-child img {
    width: 60%;
    border: 2px;
    margin: 25%;
    margin-top: 35px;
    margin-bottom: 30px;
}

tr:nth-child(3) td:first-child p {
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 12px;
    color: #222222;
}

tr:nth-child(3) td:last-child {
    width: 70%;
    vertical-align: top;
}

tr:nth-child(3) td:last-child h2 {
    color: black;
    background-color: rgb(59, 20, 8);
    margin-top: 22px;
    padding: 10px;
    padding-left: 33px;
    margin-left: 30px;
    margin-left: 18px solid rgb(161, 224, 13);
}

#aboutme {
    color: white;
    background-color: rgb(59, 20, 8);
    border-left: 23px solid rgb(161, 224, 13);
    /*d'augment le volume de la bordure gauche*/
    border-top-left-radius: 12px;
    /*sevant d'incliner la bordure gauche en haut*/
    margin-top: 16px;
    padding: 10px;
    padding-left: 33px;
    margin-left: 30px;
    margin-left: 18px solid rgb(171, 218, 64);
}

#skills {
    color: white;
    background-color: rgb(59, 20, 8);
    margin-top: 36px;
    padding: 10px;
    padding-left: 33px;
    margin-left: 18px solid rgb(161, 224, 13);
}

#adress {
    margin-top: 42px;
    margin: auto;
    padding: 10px;
    padding-left: 33px;
    margin-left: 18px;
}

#lista {
    margin-left: 28px;
}

#formation {
    margin-top: 42px;
    padding: 10px;
    padding-left: 33px;
    margin-left: 18px solid rgb(161, 224, 13);
}

#interet {
    margin-top: 50px;
    padding: 10px;
    padding-left: 33px;
    margin-left: 18px solid rgb(161, 224, 13);
}


/*
    margin-top: 16px;
    padding: 10px;
    padding-left: 33px;
    margin-left: 30px;
*/

#education {
    color: white;
    background-color: rgb(59, 20, 8);
    border-left: 23px solid rgb(161, 224, 13);
    /*d'augment le volume de la bordure gauche*/
    border-top-left-radius: 12px;
    /*sevant d'incliner la bordure gauche en haut*/
    margin-top: 0px;
    /*monter descendre le tableau*/
    padding: 10px;
    /*volume du tableau*/
    padding-left: 33px;
    margin-left: 30px;
    margin-left: 18px solid rgb(171, 218, 64);
}

#divlanguage {
    background-color: rgba(69, 109, 100, 0.924);
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    /*espace entre les div*/
}

#language {
    border-radius: 13px;
    margin-left: 0px;
    background-color: rgb(235, 101, 23);
    font-size: 20px;
    margin-top: auto;
    padding: 7px;
}

#divcompte {
    background-color: rgba(69, 109, 100, 0.924);
}

#compte {
    border-radius: 13px;
    margin-left: 0px;
    background-color: rgb(235, 101, 23);
    font-size: 20px;
    margin-top: 5px;
    padding: 7px;
    /*monter et descendre le tableaux*/
}